header > nav > ul{
    display: none;
}

header > nav{
    padding: 0px;
}
main.container{
    grid-template-columns: 100%;
}
header > nav > section.hamburger-menu
{
    width: 90%;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: auto;
}
div.hamburger-buttom{
    filter: invert();
}
header > nav > section.hamburger-menu > div > img{
    width: 30px;
    cursor: pointer;
}
div#mobile-user-image{
    display: grid;
    justify-content: end;
}
div#mobile-user-image > img{
    border-radius: 5px;
}
div#hamburger-menu{
    width: 100%;
    height: 100vh;
    display: none;
    grid-template-rows: 10% 90%;
    align-items: center;
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.9;
    transition: 1s;
}
div#hamburger-menu > div{
    height: 50px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: end;
    align-items: center;
}
div#hamburger-menu > div > p{
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
div#hamburger-menu > ul{
    width: 100%;
    height: 90%;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    scrollbar-width: 10px;
}
div#hamburger-menu > ul > li{
    width: 100%;
    height: 10%;
    background-color: red;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}
div#hamburger-menu > ul > li > div > a, div#hamburger-menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

div#user-menu{
    top: 53px;
}

section#calendar{
    grid-template-rows: 14.2vw 14.2vw 14.2vw 14.2vw 14.2vw;
}
